$font-family: "Poppins", sans-serif;

$font-thin: 100;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

$light-gray: #fcfcff;
$dark-blue: #202142;

$border-color: #efefff;
